.App {
    display: flex;
    flex-direction: column;
}

.Main {
    display: flex;
    flex-direction: column;
}

.HeaderSub {
    display: flex;
    margin: 0 auto;
    justify-content: center;
}

@media screen and (min-width: 569px) {
    .HeaderSub {
        flex-direction: row;
        display: flex;
        margin: 0 auto;
        justify-content: space-between;
        width: 80%;
        flex-direction: row;
    }

    .HeaderPrinc {
        display: flex;
        flex-direction: column;
    }
}


@media screen and (min-width:950px) {
    .Main {
        flex-direction: row;
        margin: 0 auto;
        justify-content: center;
        width: 100%;
    }

    .HeaderSub {
        width: 80%;
    }

    .HeaderPrinc {
        width: 90%;
    }
}